.navbar {
  padding: 1rem 0;
}

.navbar > .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 996px;
  max-width: 95%;
  margin: 0 auto;
}

.navbar > .navbar-container > .navbar-list {
  display: flex;
}

.navbar > .navbar-container > .navbar-list > .navbar-item {
  margin-right: 1rem;
}
